Flask>=2.0.0
Flask-SQLAlchemy>=2.5.1
Flask-Migrate>=3.0.0
Flask-JWT-Extended>=4.2.0
Flask-Marshmallow>=0.14.0
marshmallow-sqlalchemy>=0.25.0
Flask-SocketIO>=5.0.0
Flask-Cors>=3.0.10
python-dotenv>=0.15.0
click>=8.0.0
eventlet>=0.30.0
gunicorn>=20.0.0
SQLAlchemy>=1.4.0
PyMySQL>=1.0.0
